[submodule "platform/stm32h5/STM32CubeH5"]
	path = platform/stm32h5/STM32CubeH5
	url = https://github.com/STMicroelectronics/STM32CubeH5.git
[submodule "platform/stm32h7/STM32CubeH7"]
	path = platform/stm32h7/STM32CubeH7
	url = https://github.com/STMicroelectronics/STM32CubeH7.git
